/* Tailwind CSS */
.context-menu {
  --menu-border: var(--primary);
  --menu-bg: var(--primary);
  --item-border: var(--primary-light);
  --item-color: var(--text-base);
  --item-bg-hover: rgba(255, 255, 255, 0.15); /* Simplified hover color for better visibility */

  @apply absolute rounded-lg shadow-md z-40 p-1;
  background: var(--menu-bg);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 0 0.2px var(--menu-border), 0 2px 2px rgb(0 0 0 / 3%),
      0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%),
      0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%),
      0 70px 65px rgb(0 0 0 / 9%);
  list-style: none;
  flex-direction: column;
  display: flex;
  animation: menuAnimation 0.4s 0s both;
  transform-origin: left top;
  margin: 4px;
  z-index: 300;
}

.menu-item {
  @apply relative px-3 py-2 text-sm cursor-pointer transition-colors duration-200;
  padding: 6px 24px 6px 7px;
  border-radius: 4px;
  color: var(--item-color);
  background: transparent;
  display: flex;
  align-items: center;
  animation: menuItemAnimation 0.2s 0s both;
  white-space: nowrap;
  width: 100%;

  &:hover {
      background-color: var(--item-bg-hover); /* Set a solid hover color */
  }
}

.dropdown {
  @apply absolute left-full rounded-md shadow-md opacity-0 transition-opacity duration-200 ease-in-out z-50 top-0 bg-primary;
  visibility: hidden;
}

@keyframes menuItemAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.menu-item:hover .dropdown {
  @apply opacity-100 visible;
}

.menu-icon {
  @apply mr-2
}

@keyframes menuAnimation {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
    border-radius: 8px;
  }
}

@keyframes menuItemAnimation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}