#topbar {
  --menu-border: var(--primary);
  --menu-bg: var(--primary);
  --item-border: var(--primary-light);
  --item-color: var(--text-base);
  --item-bg-hover: rgba(255, 255, 255, 0.15); /* Simplified hover color for better visibility */
  @apply flex left-0 right-0 mx-auto px-2 justify-start items-center gap-4 absolute top-0 text-text-base backdrop-blur-lg bg-opacity-80 backdrop-brightness-75 z-50 p-[0.5px] text-sm;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 0 0.2px var(--menu-border), 0 2px 2px rgb(0 0 0 / 3%),
      0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%),
      0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%),
      0 70px 65px rgb(0 0 0 / 9%);
  z-index: 75;
}

.topbar-item {
  @apply relative px-3 py-2 text-sm cursor-pointer transition-colors duration-200;
  padding: 6px 24px 6px 7px;
  border-radius: 4px;
  color: var(--item-color);
  background: transparent;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
}

.topbar-dropdown {
  top: 100%;
  position: absolute; /* Position dropdown below the item */
  flex-direction: column; /* Stack dropdown items vertically */
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
  border-radius: 4px; /* Rounded corners */
  padding: 8px 0; /* Add some padding */
  z-index: 76; /* Ensure it appears above other elements */
  animation: menuItemAnimation 0.2s ease-out both; /* Drop-in effect */
  @apply bg-primary px-2
}

.topbar-dropdown-item {
  padding: 6px 12px;
  cursor: pointer;
  white-space: nowrap;
  @apply bg-primary transition-colors duration-200 hover:bg-primary-light text-sm rounded snap-center self-center
}

.topbar-section {
  @apply transition-colors duration-200 hover:bg-primary rounded p-[2.5px];
}

.topbar-title {
  @apply cursor-pointer relative h-6 flex items-center;
}

@keyframes menuItemAnimation {
  0% {
    opacity: 0;
    transform: translateY(-10px); /* Drop-in effect from above */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}