.taskbar {
    @apply absolute bottom-0 flex flex-row gap-1 rounded-lg z-50 items-center
}
.taskbar-item, .floating-item {
  --item-border: var(--primary-light);
  --item-color: var(--text-base);
  --item-bg-hover: rgba(255, 255, 255, 0.15); /* Simplified hover color for better visibility */
  display: flex;
  transform-origin: center;
  aspect-ratio: 1;
  animation: popintro 490ms ease-in-out;
  transition: all 0.4s ease;
  @apply rounded flex flex-col justify-center items-center cursor-pointer transition-all duration-200;
}

/* Ensure both have the same size */
.taskbar-item, .floating-item {
  width: 3rem; /* Example size */
  height: 3rem; /* Example size */
  padding: 0.5rem; /* Example padding */
}

.large {
  width: 4rem;
  height: 4rem;
}

.taskbar-item {
  @apply p-1 m-1
}

.taskbar-item-active::before {
  content: "";
  transform-origin: center;
  animation: 200ms fadeInUp;
  transition: all 0.4s ease;
  @apply absolute bottom-1 h-1 w-4 bg-secondary-light rounded; /* Blue line for active state */
}

.floating-item {
  @apply p-2
}

.floating-item:hover {
  background-color: var(--item-bg-hover);
}

.taskbar-item:hover {
  background-color: var(--item-bg-hover); /* Set a solid hover color */
}

.taskbar-item > img:active {
    @apply scale-75 transition-transform duration-200
}

.app-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
}

@keyframes popintro {
    0% {
      transform: scale(0);
    }
    40% {
      transform: scale(1.125);
    }
    70% {
      transform: scale(0.725);
    }
    100% {
      transform: scale(1);
    }
}