.login {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background {
    position: fixed; /* Cover the entire viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background: inherit;
    background-image: var(--background-image, none);
    background-size: cover;
    filter: blur(0); /* Initial blur effect */
    transition: filter 0.4s ease; /* Smooth transition for blur effect */
}

.background.blurred::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2em); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
}

.splashScreen {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    transition: opacity 0.4s ease-in-out;
}

.splashScreen.hidden {
    opacity: 0; /* Hide the splash screen */
}

.fadeinScreen {
    position: fixed; /* Position at the bottom left */
    bottom: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.fadeinScreen.show {
    opacity: 1;
}

.userList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 10px;
}

.userItem {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #fff;
}

.userItem:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.bottomInfo {
    position: absolute;
    bottom: 24px;
    right: 24px;
}


/* New styles for sign-in menu */
.sign-in-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}